:root {
    --superlight: #b2d8d8;
    --light:  #66b2b2;
    --medium: #008080;
    --dark: #006666;
    --superdark: #004c4c;
    
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--superdark);
    font-family: Arial;
    padding-top: 10px;
}

.blog_container {
    background-color: var(--dark);
    max-width: 960px;
       margin: 0 auto;
    margin-bottom: 10px;
}

.blog_title {
    background-color: var(--light);
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

.blog_contents {
    padding: 10px;
    color: #c3cecd;
}


